* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'M PLUS 1p', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
}

hr {
  border: 1px solid gray;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100svh;
}

.container {
  width: 100%;
  overflow: auto;
  background: #222;
  position: relative;

  //  comp_01 / TOP
  .top_bg_wrap {
    position: relative;
    overflow: hidden;

    .bcimg {
      width: 100%;
      height: 100svh;
      background-image: url("image/vr.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .title {
      width: 100%;
      height: 100svh;
      padding: 2em;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: whitesmoke;

      .title_large {
        font-size: 12em;
        letter-spacing: 2px;
        font-weight: 900;
      }

      .title_smoll {
        font-size: 2em;
        letter-spacing: 4px;
      }

      .sub_title {
        margin-top: 2em;
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        display: grid;
        place-items: center;
        text-align: center;
      }
    }
  }

  //  comp_02 / content parents
  .contents_wrap {
    margin: 0 auto;
    padding: 10em 2em;
    max-width: 1920px;
    visibility: collapse;
    opacity: 0;
    display: flex;
    justify-content: center;
    gap: 3em;

    .content {
      width: 25%;

      .img_wrap {
        width: 100%;
        max-width: 900px;
        aspect-ratio: 3 / 4;
        // border-radius: 6px;
        overflow: hidden;
        cursor: pointer;

        img {
          border-radius: 2px;
          width: 100%;
          max-width: 900px;
          aspect-ratio: 3 / 4;
          object-fit: cover;
          transition: 0.4s;

          &:hover {
            transition: 0.4s;
            transform: scale(1.2);
          }
        }
      }

      .explanation {
        margin-top: 2em;
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        display: grid;
        place-items: center;
        text-align: center;
      }
    }
  }

  //  comp_03 / content childs
  .sub_contents_wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 0;
    background: #222;
    color: white;
    visibility: collapse;
    opacity: 0;
    padding: 0 2em;
    overflow: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .sub_container {
      max-width: 1920px;
      margin: 0 auto;

      .explanation {
        max-width: 900px;
        min-height: 100px;
        margin: 3em auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;

        .big_title {
          font-size: 32px;
          color: white;
          letter-spacing: 2px;
          text-align: center;
        }

        .small_title {
          font-size: 16px;
          color: white;
          letter-spacing: 2px;
          text-align: center;
          margin-bottom: 5em;
        }
      }

      .sub_contents {
        max-width: 1920px;
        margin: 2em auto 0;
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 2em;
        flex-wrap: wrap;

        .content {
          width: clamp(300px, 100%, 20%);

          video {
            width: clamp(300px, 100%, 20%);
            border-radius: 2px;
            width: 100%;
            aspect-ratio: 4 / 3;
            object-fit: cover;
            transition: 0.4s;
            cursor: pointer;
          }

          .video_explanation {
            margin-top: 2em;
            color: whitesmoke;
            font-size: 14px;
            letter-spacing: 3px;
            display: grid;
            place-items: center;
            // text-align: center;
          }
        }
      }

      .thesis {
        max-width: 1200px;
        margin: 4em auto 0;

        .big_title {
          font-size: 16px;
          color: gray;
          letter-spacing: 2px;
          // margin-bottom: 1em;
        }

        .small_title {
          font-size: 12px;
          color: gray;
          letter-spacing: 2px;
        }
      }

      .bottom_explanation {
        max-width: 1200px;
        margin: 4em auto 0;
        letter-spacing: 2px;
        line-height: 1.6;
        white-space: pre-wrap;
        color: lightgray;
      }

      .page_link {
        max-width: 1200px;
        margin: 2em auto 0;

        a {
          // text-decoration: none;
          color: white;

          &:hover {
            transition: 1s;
            color: yellow;
          }
        }
      }

      .sub_contents_back {
        margin: 8em auto 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 4px 14px;
        border-radius: 50px;
        background: #444;
        color: white;

        .btn_close {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 1em;
          letter-spacing: 2px;
        }

        &:hover {
          transition: 0.4s;
          background: silver;
          color: black;
        }
      }
    }
  }
}


// Scroll bar を表示しない
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}

.container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}

.sub_contents_wrap::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}


// J S 使 用 セ レ ク タ
.visible_mode_1 {
  visibility: visible !important;
  animation: fade_in_1 3s forwards;
}

.visible_mode_2 {
  min-height: 100vh !important;
  visibility: visible !important;
  animation: fade_in_2 1s forwards;
}


// G o o g l e  F o n t  I c o n
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}


// S P 対 応
@media screen and (max-width:600px) {
  .container {

    //  comp_01
    .top_bg_wrap {
      .title {
        gap: 1rem;

        .title_large {
          font-size: 6em;
          letter-spacing: 2px;
        }

        .title_smoll {
          font-size: 1em;
          letter-spacing: 2px;
          margin-top: -2em;
          text-align: center;
        }
      }
    }

    //  comp_02
    .contents_wrap {
      padding: 3em 0 6em;
      width: 100%;
      display: block;

      .content {
        width: 100%;
        margin-bottom: 3em;

        .img_wrap {
          aspect-ratio: 16 / 9;

        }

        .explanation {
          margin-top: 1em;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    //  comp_03
    .sub_contents_wrap {
      padding: 0 1em;

      .sub_container {
        .explanation {
          .big_title {
            font-size: 24px;
          }

          .small_title {
            font-size: 16px;
            margin-bottom: 3em;
          }
        }

        .sub_contents {
          .content {
            width: 100%;
            margin-bottom: 2em;

            .video_explanation {
              font-size: 14px;
              margin-top: 1em;
              text-align: center;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .page_link {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .sub_contents_back {
          margin: 4em auto 8em;
        }
      }
    }
  }
}


// a n i m a t i on
@keyframes fade_in_1 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade_in_2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}